// Faqat import vaqtida ishlatish uchun.
// Import tugagach firestore.rules faylidagi yakuniy rules'ni qo‘ying.
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }
    function hasProfile() {
      return signedIn()
        && exists(/databases/$(database)/documents/userProfiles/$(request.auth.uid));
    }
    function myProfile() {
      return get(/databases/$(database)/documents/userProfiles/$(request.auth.uid)).data;
    }
    function isAdmin() {
      return hasProfile() && myProfile().active == true && myProfile().role == "admin";
    }

    match /{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
